<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.metropolitan.cs330juna">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.metropolitan.cs330juna.activities.FamActivity"></activity>
        <activity android:name="com.metropolitan.cs330juna.activities.FduActivity"></activity>
        <activity android:name="com.metropolitan.cs330juna.activities.FitActivity"></activity>
        <activity android:name="com.metropolitan.cs330juna.activities.AddStudentActivity"></activity>
        <activity android:name="com.metropolitan.cs330juna.activities.EditStudentActivity"></activity>
        <activity android:name="com.metropolitan.cs330juna.activities.ModifyStudentActivity"></activity>
        <activity android:name="com.metropolitan.cs330juna.activities.DeleteStudentActivity"></activity>
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCCPrF83XmgoD4_Rwjfa2aANcJuWbUf-40" />

        <activity
            android:name="com.metropolitan.cs330juna.activities.MapsActivity"
            android:label="Maps" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>